.navbar{
    position: fixed;
}

.store{
    background-color: #161617;
    padding: 2%;
    font-size: 13px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.store a{
    color: white;
    text-decoration: none;
}
.store h6, .store p{
    color: gray;
    font-size:13px;
    margin-left: 16px;
}
.search{
    background-color: blueviolet;
}
.dropdown{
    font-size: 13px;
}
.logo{
    width: 38px;
    height: 37px;
}

/* First portion */

.first-por{
    background-image: url(./images/Front_cleanup.png);
    background-repeat: no-repeat;
    background-size:cover;
    color: white;
}
.white-logo{
    width: 35px;
    height: 40px;
}
.front-container{
    border: 3px solid red;
    padding-top: 35%;
    margin: 0 auto;
    width: 50%;
    text-align: center;
}
.front-heading a{
    text-decoration: none;
    color: white;
}
.btn-light{
    border-radius: 140px !important;
    padding: 0.5em 1em !important;
}
.btn-outline-dark{
    border-radius: 140px !important;
    border-color: white !important;
    color: white !important;
    padding: 0.5em 1.2em !important;
}
.btn-outline-dark :hover{
    background-color: white !important;
}
.front-buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
    border: 2px solid purple;
    margin-top: 2%;
}
/* Media Query for first portion */

@media screen and (max-width:426px)  {
    .front-container{
        border: 3px solid rgb(75, 7, 131);
        width: 100%;
    }
}